* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    /* background: #43AFFC; */
    background: url("resources/background-image.jpeg");
    background-size: cover;
}

body #header {
    background-color: #43AFFC;
    width: 100%;
    display: flex;
    justify-content: center;
}

body #header div input {
    min-width: 20rem;
    min-height: 1.5rem;
    outline: none;
    border-radius: 0.5rem;
    border: 0.5px solid blue;
    padding: 0.5rem;
}
body #header div img {
    position: relative;
    right: 2rem;
    top: 0.5rem;
    /* border-radius: 0.3rem; */
    cursor: pointer;
}

body div {
    margin: 2rem;
}

body #main-heading {
    display: flex;
    font-size: 0.8rem;
}

body #main-heading h1{
    padding: 0.5rem;
}
body #main-heading h1:last-child {
    color: #43AFFC;;
}

body #main-div #city-details {
    position: relative;
    top: 1rem;
}
body #main-div #city-details p {
    font-size: 0.7rem;
    padding-bottom:0.2rem ;
}
body #main-div #city-details h5 {
    color: rgb(122, 202, 2);
    font-size: 1.5rem;
}

body #main-div #weather-details {
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
body #main-div #weather-details .cards {
    max-width: 210px;
    max-height: 300px;
    margin: 10px 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }

body #main-div #weather-details .cards h2 {
    min-width: 100%;
    background-color:#43AFFC;
    font-size: 0.9rem;
    padding: 0.3rem 0;
    border-radius: 0.3rem;
}
body #main-div #weather-details .cards p {
    min-width: 100%;
    background-color:#43AFFC;
    font-size: 0.8rem;
    padding: 0.3rem 0;
    border-radius: 0.3rem;
}

body #main-div #weather-details .cards .card {
    min-width: 100%;
    height: 35vh;
    background-color:rgb(252, 250, 247);
    box-sizing: border-box;
    padding: 0.2rem;
    position: relative;
    right: 2rem;
    top: -1.5rem;
    border-radius: 0.3rem;
}

body #main-div #weather-details .cards .card div {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}

body #main-div #weather-details .cards .card img {
    width: 3rem;
    /* padding-bottom: 2rem; */
}

body #main-div #weather-details .cards .card p {
    background: none;
    font-size: 0.7rem;
    color:rgb(224, 171, 179);
}


@media screen and (max-width: 650px) {

    body #main-div #city-details {
        text-align: center;
    }

    body {
        background-position:center;
    }

    body #main-div #weather-details {
        display: grid;
    }
    
    body #main-div #weather-details .cards {
        margin-bottom: 2rem;
    }
}
